.Header {
    width: auto;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-image: linear-gradient(to left, #051937, #3e435d, #727386, #a9a8b2, #e0e0e0);
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.Nav div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Nav .ProjectLink {
    color: #051937;
    font-weight: bolder;
    font-size: xx-large;
    padding-right: 35px;
}

.Nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.Header .Nav button {
    background-color: #152d50;
    color: #fff;
    padding: 10px 20px;
    border: #3e435d 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.Header .Nav button:hover {
    background-color: #405e8a;
}

.List {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.List li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.List li a:hover {
    color: #405e8a;
}

